/target/
!.mvn/wrapper/maven-wrapper.jar
/.mvn/
mvnw
mvnw.cmd
dist
node_modules

./WEB-INF/appengine-web.xml
./src/main/webapp/appengine-web.xml
./src/main/webapp/WEB-INF
./src/main/webapp/WEB-INF/appengine-web.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/