.app-container {
  background-color: ivory;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, Helvetica;

  .landing-container {
    background-color: aliceblue;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .landing-title {
      display: flex;
      flex-direction: column;
      font-weight: bold;

      .headline-container {
        display: flex;
        align-items: baseline;

        .title-1 {
          font-size: 2em;
        }

        .title-2 {
          padding: 0 1rem;
        }
      }

      .byline-container {
        font-size: 5em;
      }
    }

    .landing-form {
      display: flex;
      flex-direction: column;
      width: 55%;
      justify-content: space-between;

      .solo-input-container {
        display: flex;
        justify-content: flex-end;
        padding: 1vh 0;

        .landing-input {
          margin-left: 10px;
        }

        .landing-input::placeholder {
          color: lightgray;
        }
      }

      .submit-button {
        text-align: center;
        cursor: pointer;
        margin-top: 1vh;
        max-width: 52px;
        align-self: flex-end;
      }
    }

    .options-container {
      display: flex;
      width: 40%;
      justify-content: space-evenly;
    }
  }

  .pictures-viewer-container {
    display: flex;
    justify-content: center;

    .spinner-container, .tags {
      width: 16vw;
      background-color: aliceblue;

      .tag-container {
        display: flex;
        flex-direction: column;
        padding: 1.5vh;
        text-transform: uppercase;
      }
    }

    .button-increment, .button-decrement {
      display: flex;
      align-items: center;
      font-size: 2em;
      padding: 10px;

      i {
        cursor: pointer;
      }
    }
  }
}

