$background_color: whitesmoke;
$submit_button_color: rgb(221, 218, 210);
$navbar_height: 110px;
$paper_shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

.app-container {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-family: Lato, Helvetica;
  overflow: hidden;

  .navbar {
    position: absolute;
    top: 0;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    height: $navbar_height;

    .title {
      display: flex;
      align-items: baseline;
      font-size: 3em;

      div {
        margin: 10px;
      }
      .blue {
        color: rgb(90, 130, 236);
      }
      .red {
        color: rgb(202, 69, 57);
      }
      .green {
        color: rgb(103, 166, 89);
      }
      .yellow {
        color: rgb(232, 185, 45);
      }

      .title-1 {
        display: flex;
        align-items: baseline;
        font-family: "Cabin Sketch";
      }
      .title-2 {
        font-family: "Cabin Sketch";
        font-weight: bold;
      }
      .title-3 {
        font-family: Pacifico !important;
      }
    }
  }

  .landing-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .login-button {
      margin-bottom: 6vh;
    }

    .source-link {
      text-decoration: none;
      padding-top: 30vh;
      margin-bottom: 8vh;

      i {
        color: black;
        margin: 0 3px;
      }
    }
  }

  .pictures-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: $navbar_height;

    .search-container, .taglist-container {
      background-color: white;
      box-shadow: $paper_shadow;
      width: 100%;
    }

    .left {
      width: 30%;
      padding-top: 3vh;
      padding-right: 3vw;
      display: flex;
      flex-direction: column;

      .square-container {
        .square {
          width: 100%;
          padding-bottom: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: $paper_shadow;
          background-color: white;
        }
      }

      .button-group {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .arrows {
          display: flex;
        }

        .button-increment, .button-decrement, .submit-button {
          display: flex;
          align-items: center;
          font-size: 2em;
          cursor: pointer;
        }

        .button-decrement {padding: 10px;}

        .button-increment {padding: 10px 0 10px 20px;}
      }

      .location-container {
        display: flex;
        justify-content: flex-end;
        padding: 10px 0;
        color: darkgray;
      }
    }

    .right {
      width: 22.5%;
      margin: 3vw;

      .search-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 2vh 0;
        padding: 0 1.5vw 1.5vh;

        div {
          padding: 5px;
        }
      }

      .taglist-container {
        height: fit-content;
        overflow: scroll;
        padding: 1.5vw;

        .tag-container {
          padding: 1.5vh 0;

          .tag-top-container {
            display: flex;
            color: gray;
            align-items: baseline;
            justify-content: space-between;
          }

          .tag-link {
            text-decoration: none;
            text-transform: capitalize;
            letter-spacing: 0.25px;
            font-size: 1rem;
            font-family: "Quicksand";
          }

          .tag-bar {
            height: 4px;
          }
        }
      }
    }
  }
}

body {
  margin: 0 !important;
}

