$background_color: rgba(241, 231, 208, 0.5);
$submit_button_color: rgb(221, 218, 210);

.app-container {
  background-color: $background_color;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, Helvetica;

  .landing-container {
    background-color: aliceblue;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .landing-title {
      display: flex;
      flex-direction: column;
      font-weight: bold;

      .headline-container {
        display: flex;
        align-items: baseline;

        .title-1 {
          font-size: 2em;
        }

        .title-2 {
          padding: 0 1rem;
        }
      }

      .byline-container {
        font-size: 5em;
      }
    }

    .landing-form {
      display: flex;
      flex-direction: column;
      width: 55%;
      justify-content: space-between;

      .solo-input-container {
        display: flex;
        justify-content: flex-end;
        padding: 1vh 0;

        .landing-input {
          margin-left: 10px;
        }

        .landing-input::placeholder {
          color: lightgray;
        }
      }

      .submit-button {
        text-align: center;
        cursor: pointer;
        margin-top: 1vh;
        max-width: 52px;
        align-self: flex-end;
      }
    }

    .options-container {
      display: flex;
      width: 40%;
      justify-content: space-evenly;
    }
  }

  .pictures-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;

    .main-container {
      display: flex;
      justify-content: center;
      height: 100%;
      flex-direction: column;
      width: 50%;

      .title-container {
        padding-top: 1vh;

        .title {
          font-weight: 700;
          font-size: 2.5rem;
        }

        .sub-title {
          font-weight: 300;
          font-size: 1.5rem;
          font-style: italic;
        }
      }

      .button-group {
        display: flex;
        align-self: flex-end;

        .submit-button {
          background-color: $submit_button_color;
          display: flex;
          align-items: center;
          padding: 0px 10px;
          cursor: pointer;
        }

        .button-increment, .button-decrement {
          display: flex;
          align-items: center;
          font-size: 2em;
          padding: 10px;
          cursor: pointer;
        }
      }
    }

    .tags-container {
      display: flex;
      width: 30%;

      .spinner-container, .tags {
        width: 16vw;
        background-color: aliceblue;

        .tag-container {
          display: flex;
          flex-direction: column;
          padding: 1.5vh;
          text-transform: uppercase;
        }
      }
    }
  }
}

body {
  margin: 0 !important;
}

